<div ng-include="'partials/navbar'"></div>

<div class="row">
    <div class="col-sm-6">
        <h3>Search people</h3>
        <form class="form" name="form" ng-submit="searchPeople()" novalidate>

            <div class="form-group">


                <input type="text" name="name" class="form-control" ng-model="keyword"
                       mongoose-error/>
                <p class="help-block" ng-show="form.name.$error.mongoose">
                    {{ errors.other }}
                </p>
            </div>
            <p class="help-block"> {{ message }} </p>
            <button class="btn btn-lg btn-primary" type="submit">Search</button>
        </form>


        <h1 ng-show="people">Found Users</h1>


        <div class="found-users">
            <ul ng-repeat="user in people">
                <li>
                  <span>{{ user.name }}</span>
                  <span ng-show="user.email">({{ user.email }})</span>
                  <span>
                    <button class="btn btn-sm btn-primary" type="submit">Add Friend</button>
                  </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="pending-friend-requests">
        <h3>Pending friend requests</h3>
            <ul ng-repeat="friendRequest in friendRequests">
                <li ng-show="friendRequest.status!='accepted'">
                    <span>{{ friendRequest.friend.name }}</span>
                    <span ng-show="friendRequest.friend.email">({{ friendRequest.friend.email }})</span>
                    <button ng-show="friendRequest.status=='pending'"
                            type="button"
                            class="btn btn-danger"
                            ng-click="acceptFriendRequest(friendRequest.friend)">Accept</button>
                    <span ng-show="friendRequest.status=='requested'">Waiting for confimation</span>
                </li>
            </ul>
        </div>

        <div class="friends">
            <h3>Friends</h3>
            <ul ng-repeat="friendRequest in friendRequests">
                <li ng-show="friendRequest.status=='accepted'">
                    <span>{{ friendRequest.friend.name }}</span>
                    <span ng-show="friendRequest.friend.email">({{ friendRequest.friend.email }})</span>
                    <span>{{ friendRequest.status }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>