<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="jooh">
    <div ng-repeat="todoList in todoLists">
        <h4>{{ todoList.name }}</h4>
    </div>
    <form class="form" name="form" ng-submit="todoListAdd()" novalidate>
        <input type="text" name="name" class="form-control" ng-model="todoList.name" />
        <button>Add todolist</button>
    </form>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
