<div ng-include="'partials/navbar'"></div>


<div class="row">
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="todoListAdd()" novalidate>

            <div class="form-group">
                <label>Create new ToDo list</label>

                <input type="text" name="name" class="form-control" ng-model="todoList.name"
                       mongoose-error/>
                <p class="help-block" ng-show="form.name.$error.mongoose">
                    {{ errors.other }}
                </p>
            </div>
            <p class="help-block"> {{ message }} </p>
            <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        </form>

        <h1>All ToDo lists </h1>
        <div class="all-todolists">

            <table class="table table-striped">
                <tr>
                    <th>ToDo list</th>
                    <th>created by</th>
                    <th>shared with</th>
                </tr>
                <tr ng-repeat="todoList in todoLists">
                    <td>
                        <a href="/todolist/{{ todoList._id }}">{{ todoList.name }}</a>
                        <div ng-repeat="todoListItem in todoList.todoItems">
                            <span>- {{ todoListItem.name }}</span>
                        </div>
                    </td>
                    <td>
                        {{ todoList.creator_name }}
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="friend in todoList.sharedWith">
                                {{friend.name }}
                            </li>
                        </ul>
                    </td>
                </tr>

            </table>

        </div>
        <br/>
    </div>
</div>
